server:
  port: 8083

spring:
  application:
    name: item-service
  data:
    mongodb:
      uri: mongodb://${MONGO_ROOT_USERNAME:admin}:${MONGO_ROOT_PASSWORD:mongo@123}@mongodb-item:27017/item_db?authSource=admin
      auto-index-creation: true
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: item-service-group
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

logging:
  level:
    com.shopping.item: DEBUG
    org.springframework.data.mongodb.core: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      enabled: true
      show-details: always
    info:
      enabled: true
